*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3{
  color: rgb(53, 53, 53);
}
h3,h4{
  font-weight: 400;
  color:rgb(100,100,100);
}
body{
  font-family: 'Lato', sans-serif;
}

.App{
  transition: all 0.5s ease;
}

.library-active{
  margin-left:30%;
}

@import "./Song";
@import "./Player";
@import "./Library";
@import "./Nav"